*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.highlighted{
    padding: 10px;
    background-color: red;
    transition: 0.4s;
    text-align: center;
}

.Product_Box{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    a{
        text-decoration: none;
    }

    .Product{
        width: 300px;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 15px;
        box-shadow:  0 10px 30px rgba(0, 0, 0, 0.329);
        padding: 20px;
        transition: 0.4s;
        border-radius: 20px;

        &:hover{
            transform: translateY(-5px);
            box-shadow:  0 10px 30px rgba(0, 0, 0, 0.509);
        }
        &:hover .Product_Info a{
            background-color: rgb(52, 52, 52);
        }

        &>div{
            margin: 10px;
        }
        
        .Product_Img{
            width: 100%;
            height: 250px;

            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        .Product_Info{
            width: 100%;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: relative;
            // background-color: red;

            div{
                position: relative;
                width: 100%;
                // height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 5px;
                // background-color: green;

                &:last-child{
                    position: absolute;
                    top: 130%;
                }

                h2{
                    color: rgba(0, 0, 0, 0.757);
                }
                span{
                    font-weight: 600;
                    color: black;
                }

                a{
                    color: orange;
                    text-decoration: none;
                    background-color: rgb(40, 39, 39);
                    position: absolute;
                    padding: 15px 30px;
                    border-radius: 30px;
                    transition: 0.4s;
                }
            }

            
        }


    }
}